@import url('../assets/type/metropolis/metropolis.css');

.main-ctr {
    padding: 0 20%;
}

.guide {
    padding: 20px 0;
    font-family: metropolislight;
    font-size: 40px;
    color: var(--deep_purple);
}

.guide > strong {
    font-family: metropolissemi_bold;
    color: var(--deep_blue);
}

.code-ctr {
    margin: 0 auto;
    border: 1.5px solid var(--deep_blue);
    border-radius: 35px;
}

.class_code {
    padding: 20px 0;
    font-family: metropolissemi_bold;
    font-size: 8vw;
    text-align: center;
    color: var(--deep_purple);
}

button {
    display: block;
    border: 1.1px solid  var(--deep_purple);
    width: 300px;
    border-radius: 10px;
    padding: 15px 0px;
    margin: 30px auto 10px auto;

    font-size: 20px;
    outline: none;
    border-style: none;
    font-family: metropolisbold, sans-serif;
    background-color:  var(--deep_purple);
    color: #faf1f1;

    cursor: pointer;
    transition: 0.25s;
}

button:hover {
    background-color: #632391;   
}

.num-students {
    font-family: metropolisregular;
    font-size: 1.5em;
    color: var(--deep_purple);
    text-align: center;
    margin-top: 40px;
}

.num-students > strong{
    font-family: metropolisbold;
}
