@import url('../assets/type/metropolis/metropolis.css');
:root {
    --bkg_white: #FEF7F7;
    --deep_purple: #8039b4;
    --deep_blue: #4E39B4;
    --cool_pink: #C31D6C;
}

body {
    background-color: var(--bkg_white);
}

.logo {
    display: block;
    width: 260px;
    margin: 20px auto;
}

.main-ctr {
    padding: 0 20%;
}

.top-ctr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 0 0;
}

.title {
    font-family: metropolissemi_bold;
    font-size: 40px;
    color: var(--deep_purple);
}

#end-class {
    float: right;
}

.confusion {
    height: 400px;
    width: 100%;
}

.confusion>* {
    margin: 0 auto;
}

.questions-header {
    font-family: metropolissemi_bold;
    font-size: 40px;
    color: var(--deep_purple);
    padding: 30px 0 0 0;
}

.questionCard {
    margin: 10px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid var(--deep_purple);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.25s;
}

.questionCard:hover {
    border: 1px solid var(--deep_blue);
}

.questionCard>p {
    font-family: metropolismedium;
    color: var(--deep_blue);
    font-size: 1.2em;
}

.questionCard>div {
    float: right;
}

.questionCard>div>button {
    display: inline;
    border-radius: 10px;
    padding: 8px 16px;
    margin-right: 10px;
    font-size: 16px;
    outline: none;
    border-style: none;
    background-color: #3a3a3a;
    font-family: metropolisbold, sans-serif;
    color: #faf1f1;
    transition: 0.25s;
}

.questionCard>div>button:hover {
    background-color: #3f3f3f;
}

.questionCard>div>button:first-of-type {
    background-color: var(--cool_pink);
}

.questionCard>div>button:first-of-type:hover {
    background-color: #d32b7c;
}