@import url('../assets/type/metropolis/metropolis.css');
:root {
    --bkg_white: #FEF7F7;
    --deep_purple: #8039B4;
    --deep_blue: #4E39B4;
    --cool_pink: #C31D6C;
}

body {
    background-color: var(--bkg_white);
}

.main-ctr {
    padding: 0 20%;
}

.top-ctr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.title {
    font-family: metropolissemi_bold;
    font-size: 40px;
    color: var(--deep_purple);
    padding: 0px 0;
}

#end-class {
    float: right;
}

.confusion {
    height: 200px;
    width: 50%;
}

.confusion > * {
    margin: 0 auto;
}