@import url('../assets/type/metropolis/metropolis.css');
:root {
  --bkg_white: #FEF7F7;
  --deep_purple: #8039b4;
  --deep_blue: #4E39B4;
  --cool_pink: #C31D6C;
}

.logo {
  display: block;
  width: 260px;
  margin: 20px auto;
}

.main-ctr {
  padding: 0 20%;
}

.top-ctr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.title {
  font-family: metropolissemi_bold;
  font-size: 40px;
  color: var(--deep_purple);
  padding-bottom: 10px;
}

.session_title {
  padding-top: 40px;
}

#dash {
  margin: 0 200px;
  color: #8039B4;
  padding-top: 50px;
  padding-bottom: 25px;
}

.graphs {
  display: flex;
  align-content: center;
}

button {
  border: 1.1px solid #8039B4;
  width: 300px;
  border-radius: 10px;
  padding: 10px 0px;
  margin: 0 500px;
  background-color: #8039B4;
  color: white;
}

.avg-rating, .confusion-label, .reviews-label {
  font-family: metropolisregular;
  padding: 5px 0;
  color: var(--deep_purple);
}

.confusion-label {
  padding-top: 10px;
}

.stars {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  width: 100%;
}

.star {
  padding: 8px;
}

.star:first-of-type {
  padding-left: 0;
}

.reviewCard {
  margin: 10px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid var(--deep_purple);
  border-radius: 10px;
  font-family: metropolismedium;
  color: var(--deep_blue);
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.25s;
}

.reviewCard:hover {
  border: 1px solid var(--deep_blue);
}

.prev-ctr {
  padding-bottom: 20px;
}

.hidden {
  display: none;
}