@import url('../assets/type/metropolis/metropolis.css');

:root {
    --bkg_white: #FEF7F7;
    --deep_purple: #8039b4;
    --deep_blue: #4E39B4;
    --cool_pink: #C31D6C;
}

.logo {
  display: block;
  width: 260px;
  margin: 20px auto;
}

.main-ctr {
  padding: 0 20%;
}

.top-ctr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 0 0;
}

.title {
  font-family: metropolissemi_bold;
  font-size: 40px;
  color: var(--deep_purple);
}

#dash{
  margin: 0 200px;
  color: #8039B4;
  padding-top: 50px;
  padding-bottom: 25px;
}

.graphs {
  display: flex;
  align-content: center;
  /*background-color: red;*/
  padding: 10px 0px;
  padding-top: 25px;
  padding-bottom: 30px;
}

canvas
{
  width: 400px !important;
}
.secondDivHolder{
  display: flex;
}

button{
  border: 1.1px solid #8039B4;
  width: 300px;
  border-radius: 10px;
  padding: 10px 0px;
  margin: 0 500px;

  background-color: #8039B4;
  color: white;

}

#prev{
  margin: 0 200px;
  padding-top: 50px;
  padding-bottom: 40px;
  color: #8039B4;
  font-size: 1.8em;

}

/*
.flexbox-container {
  display: flex;
  flex-direction: row;
  
  gap: 12px;
 
}
*/
.stars{
  margin: 0 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 150px;

  padding-right: 80px;

  
}

.star{
  padding: 8px;
}

#review{
  /* following margin is aligned with stars*/
  
  margin: 0 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #8039B4;
  font-size: 1.8em;

}